@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}