@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-Regular.ttf);
}

body {
  font-family: "Nunito", sans-serif;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
