.footer {
  display: flex;
  flex-direction: column;
  background-color: #1B1F21;
  font-family: "Nunito", sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    width: 304px;
    padding: 32px 0 48px 0;
    margin: 0 auto;
  }

  &__header {}

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 67px;
    &-img {}
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 37px;
    height: 48px;
    padding-top: 40px;

    &_img {
      filter: invert(0%);
      cursor: pointer;
      transition: filter 0.3s;

      @media (hover: hover) {
        &:hover {
          filter: invert(100%);
        }
      }

      @media (hover: none) {
        &:active {
          filter: invert(100%);
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 64px 0 66px 0;

    &_container {}

    &_checkbox {
      position: absolute;
      width: 0;
      height: 0;
      appearance: none;
      cursor: pointer;

      &:checked ~ .footer__menu_list {
        display: flex;
      }

      &:checked ~ .footer__menu_title .footer__menu_open {
        display: none;
      }

      &:checked ~ .footer__menu_title .footer__menu_close {
        display: flex;
      }
    }

    &_open {
      display: flex;
      margin-right: 5px;
    }

    &_close {
      display: none;
      margin-right: 5px;
    }

    &_title {
      position: relative;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      margin: 0;
      list-style: none;
      color: #757778;
      font-size: 18px;
      line-height: 160%;
      text-transform: uppercase;
    }

    &_list {
      display: none;
      flex-direction: column;
      gap: 16px;
      padding: 0;
      margin-top: 23px;
      list-style: none;
    }

    &_item {
      position: relative;
      color: #FCFAF9;
      font-size: 15px;
      line-height: 140%;
      list-style-type: none;
      cursor: pointer;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #FCFAF9;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
      }

      @media (hover: hover) {
          &:hover::before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
          }
      }

      @media (hover: none) {
          &:active::before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
          }
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &_title {
      margin: 0;
      font-size: 13px;
      line-height: 160%;
      color: #AEAEAE;
      text-transform: uppercase;
    }

    &_text {
      position: relative;
      margin: 0;
      padding-top: 5px;
      font-size: 18px;
      line-height: 160%;
      color: #FCFAF9;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #FCFAF9;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
      }

      @media (hover: hover) {
          &:hover::before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
          }
      }

      @media (hover: none) {
          &:active::before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
          }
      }
    }
  }

  &__privacy {
    display: flex;
    flex-direction: column;
    gap: 17px;

    &_link {
      font-size: 13px;
      line-height: 160%;
      color: #AEAEAE;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__form {
    position: relative;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 64px 0;

      &::after {
        content: '';
        position: absolute;
        top: 88px;
        left: 255px;
        transform: translateY(-50%);
        width: 29px;
        height: 29px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:has(.invalid)::after {
          background-image: url('/img/subscribe/error-sub-icon.svg');
      }

      &:has(.valid)::after {
          background-image: url('/img/subscribe/correct-sub-icon.svg');
      }

      &_input {
        width: 304px;
        height: 49px;
        box-sizing: border-box;
        line-height: 160%;
        padding: 10px 24px;
        border-radius: 88px;
        border: 2px solid #fcfaf9;
        background-color: transparent;
        color: #fcfaf9;
        z-index: 2;
        transition: border 0.3s ease;

        &::placeholder {
          color: #e8e8e8;
          opacity: 1;
        }

        &:focus {
          border: 2px solid #1b1f21;
          outline: none;
        }

        &.valid {
          border: 2px solid #bedb39;
        }

        &.invalid {
          border: 2px solid #ffad20;
        }
      }

      &_button {
        width: 304px;
        height: 49px;
        font-size: 18px;
        line-height: 160%;
        padding: 10px 64px;
        border-radius: 40px;
        color: #FCFAF9;
        background-color: #9853F4;
        border: none;
        box-sizing: border-box;

        &:hover:enabled {
          background-color: #DA3369;
          color: #FCFAF9;
          cursor: pointer;
        }

        &:active:enabled {
            background-color: #1B1F21;
            color: #FCFAF9;
        }

        &:not(:enabled) {
            opacity: 60%;
            cursor: not-allowed;
            color: inherit;
        }

        &:focus:enabled {
          border: 1.5px solid #FCFAF9;
        }

        @media (hover: none) {
            &:active {
                background-color: #1B1F21;
            }
        }
    }
  }
}

@media (min-width: 768px) {
    .footer {

      &__container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 704px;
        padding: 64px 0 72px 0;
        margin: 0 auto;
      }

      &__header {
        width: 285px;
        padding: 0 139px 48px 0;
      }

      &__logo {
        order: 1;
        gap: 48px;
        &-img {}
      }

      &__social {
        order: 3;
        width: 200px;
        gap: 24px;
        height: 32px;
        padding-top: 0px;
        margin-top: -3px;
        &_img {
          width: 32px;
          height: 32px;
        }
      }

      &__menu {
        order: 4;
        flex-direction: row;
        gap: 69.33px;
        padding: 88px 0 73px 0;

        > *:nth-child(1) {
          .footer__menu_list {
            width: 100px;
          }
        }

        > *:nth-child(4) {
          .footer__menu_list {
            width: 100px;
          }
        }

        &_container {

          &:nth-child(1) {
            width: 120px;
          }
          &:nth-child(2) {
            width: 104px;
          }
          &:nth-child(3) {
            width: 152px;
          }
          &:nth-child(4) {
            width: 120px;
          }
        }

        &_checkbox, &_open, &_close {
          display: none;
        }

        &_title {
          cursor: default;
        }

        &_list {
          display: flex;
          gap: 10px;
          padding: 0;
          margin-top: 33px;
        }

      }

      &__contact {
        order: 5;
        display: flex;
        flex-direction: row;
        width: 569px;
        gap: 40px;
        padding-bottom: 24px;

        &_container {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &_text {
          padding-top: 0px;
        }
      }

      &__privacy {
        order: 6;
        display: flex;
        flex-direction: row;
        padding-top: 23px;
        gap: 0px;
        border-top: 1px solid #434343;

        :nth-child(2) {
          &::after {
            content: '•';
            margin-left: 15px;
            margin-right: 7px;
          }
          &::before {
            content: '•';
            margin-left: 10px;
            margin-right: 8px;
          }
        }
      }

      &__form {
        order: 2;
        width: 280px;
        gap: 16px;
        padding: 0;

        &::after {
          top: 24px;
          left: 230px;
        }

        &_input {
          width: 280px;
        }

        &_button {
          width: 280px;
          padding: 10px 52px;
        }
      }
    }
}

@media (min-width: 1280px) {
    .footer {

      &__container {
        position: relative;
        width: 1208px;
      }

      &__header {
        width: 352px;
        padding: 0;
      }

      &__logo {
        order: 1;
        &_img {
          width: 224px;
          height: 82px;
        }
        &_holon {
          width: 82px;
          height: 82px;
          object-fit: cover;
        }
      }

      &__social {
        order: 5;
        width: 200px;
        gap: 24px;
        height: 32px;
        padding: 132px 0 0 439px;
        margin-top: 0;
        &_img {
          width: 32px;
          height: 32px;
        }
      }

      &__menu {
        order: 2;
        padding: 1px 0 0 0;
        gap: 64px;

        > *:nth-child(1) {
          padding-left: 168px;
        }

        &_list {
          gap: 10px;
          margin-top: 33px;
        }
      }

      &__contact {
        order: 4;
        display: flex;
        flex-direction: row;
        width: 569px;
        gap: 40px;
        padding-bottom: 31px;
        padding-top: 121px;

        &_container {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &_title {
          margin: 0;
          font-size: 13px;
          line-height: 160%;
          color: #AEAEAE;
          text-transform: uppercase;
        }

        &_text {
          margin: 0;
          font-size: 18px;
          line-height: 160%;
          color: #FCFAF9;
        }
      }

      &__privacy {
        order: 6;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 33px;
        border-top: 1px solid #434343;
        &_text {
          margin: 0;
          font-size: 13px;
          line-height: 160%;
          color: #AEAEAE;
        }
      }

      &__form {
        order: 2;
        position: absolute;
        width: 280px;
        top: 226px;
        left: 0;
        gap: 7px;

        &_input {
          width: 280px;
        }

        &_button {
          width: 280px;
        }
      }
    }
}
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: black;

    &__menu {
      &_title {
        color: #FCFAF9;
      }

      &_item {
        color: #a8a7a7;
      }
    }
  }
}