@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

body {
  background-color: #F2F2F2;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 304px;
    max-height: 125px;
    margin: 0 auto;
    padding-top: 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 16px;
    }

    &__right-menu {
        order: 2;
        display: flex;
        align-items: center;
        gap: 22px;
        padding-bottom: 16px;
    }

    &__logo {
        order: 1;
        padding: 0 64px 16px 0;
    }

    &__logo-img {
        width: 129px;
        height: 48px;

        @media (hover: hover) {
            &:hover {
                filter: invert(27%) sepia(88%) saturate(5615%) hue-rotate(316deg) brightness(90%) contrast(105%);
                cursor: pointer;
            }
        }
    }

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__search-icon {
        width: 22px;
        height: 24px;
        background: none;
        border: none;
        padding: 0;
    }

    &__search-img {
        width: 22px;
        height: 24px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 12px;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #BEDB39;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
        }

        @media (hover: hover) {
            &:hover::before {
                transform-origin: 0% 50%;
                transform: scale3d(1, 1, 1);
            }
        }

        @media (hover: none) {
            &:active::before {
                transform-origin: 0% 50%;
                transform: scale3d(1, 1, 1);
            }
        }
    }


    &__link-text {}

    &__link-img {
        width: 18px;
        height: 24px;
    }

    &__nav {
        order: 3;
        display: flex;
        overflow: scroll;
        gap: 8px;

        &::-webkit-scrollbar {
            display: none;
        }

        &-item {
            padding: 8px 18px;
            border: 1.2px solid #E8E8E8;
            border-radius: 20px;
            background: none;
            white-space: nowrap;
            cursor: pointer;
        }
        @media (hover: hover) {
            &-item:nth-child(1):hover {
                background: #EC95B1;
                border: 1.2px solid #EC95B1;
            }
            &-item:nth-child(2):hover {
                background: #A4CCFE;
                border: 1.2px solid #A4CCFE;
            }
            &-item:nth-child(3):hover {
                background: #BEDB39;
                border: 1.2px solid #BEDB39;
            }
            &-item:nth-child(4):hover {
                background: #FFAD20;
                border: 1.2px solid #FFAD20;
            }
            &-item:nth-child(5):hover {
                background: #ACD6DE;
                border: 1.2px solid #ACD6DE;
            }
            &-item:nth-child(6):hover {
                background: #AEDFD6;
                border: 1.2px solid #AEDFD6;
            }
        }
        @media (hover: none) {
            &-item:nth-child(1):active {
                background: #EC95B1;
                border: 1.2px solid #EC95B1;
            }
            &-item:nth-child(2):active {
                background: #A4CCFE;
                border: 1.2px solid #A4CCFE;
            }
            &-item:nth-child(3):active {
                background: #BEDB39;
                border: 1.2px solid #BEDB39;
            }
            &-item:nth-child(4):active {
                background: #FFAD20;
                border: 1.2px solid #FFAD20;
            }
            &-item:nth-child(5):active {
                background: #ACD6DE;
                border: 1.2px solid #ACD6DE;
            }
            &-item:nth-child(6):active {
                background: #AEDFD6;
                border: 1.2px solid #AEDFD6;
            }
        }
    }
}

.gaming-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 304px;
    margin: 0 auto;
    padding-top: 24px;
    font-family: 'Nunito', sans-serif;


    &::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 2px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      background: url('/image/gaming-bg-mob.svg') no-repeat;
      z-index: -1;
    }

    &__img {
        position: relative;
        width: 304px;
        height: 352px;
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-image: url('/image/mask-gaming-1.svg');
        mask-size: 100%;
        mask-position: center;
        mask-repeat: no-repeat;
      }

      &-img-sticker {
        position: absolute;
        top: 0px;
        right: 8px;
        width: 104px;
        height: 104px;
        rotate: 0deg;
        transition: rotate 1s ease-in-out;

        &:hover {
            rotate: 360deg;
        }
      }
    }

    &__container {}

    &__info {


      &-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 18px;

      }

      &-tag {
        margin: 0;
        color: #94AC23;
      }

      &-tag--active {
        width: 53px;
        max-height: 21px;
        margin-right: 6px;
        padding: 8px 18px;
        border-radius: 20px;
        color: #1B1F21;
        font-size: 15px;
        background: #BEDB39;
      }

      &-title{
        font-family: 'Archivo', sans-serif;
        font-size: 26px;
        padding-top: 16px;
      }

      &-text{
        font-size: 18px;
        color: #757778;
        padding-top: 16px;
      }

      &-dateandtime {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        padding-top: 16px;
      }

      &-date,
      &-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 21px;
        gap: 8px;
        color: #757778;
        font-size: 15px;
      }
      &-date::before {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url('/image/date-icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &-time::before {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url('/image/time-icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      &-date-text,
      &-time-text {
        margin: 0;
      }

    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 56px;

      &-btn {
        width: 294px;
        height: 59px;
        font-size: 18px;
        padding: 10px 50px;
        border-radius: 30px;
        border: 1.5px solid #1B1F21;
        background-color: #BEDB39;
        box-shadow: 0 0 0 5px #BEDB39;
        white-space: nowrap;

        &:hover:enabled {
            box-shadow: 0 0 0 5px #1B1F21;
            background-color: #1B1F21;
            color: #FCFAF9;
            cursor: pointer;
        }

        &:active:enabled {
            background-color: #1B1F21;
            color: #FCFAF9;
        }

        &:not(:enabled) {
            opacity: 60%;
            cursor: not-allowed;
            background-color: #BEDB39;
            color: inherit;
        }

        &:focus:enabled {
            border: 1.5px solid #1B1F21;
            box-shadow: none;
        }

        @media (hover: none) {
            &:active {
                background-color: #1B1F21;
                color: #FCFAF9;
            }
        }
    }
  }


}

.articles-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  padding-top: 24px;

  .articles-section__running-line {
    max-width: 99vw;
    height: 90px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #ACD6DE;
    transform: skewY(-4deg);
  }

  .articles-section__content {
      display: flex;
      align-items: center;
      animation: marquee 10s linear infinite;
      transform: skewY(4deg);
  }

  .articles-section__running-line-text {
      display: flex;
      align-items: center;
      font-size: 30px;
      font-family: 'Archivo', sans-serif;
      margin-right: 30px;
  }

  .articles-section__running-line-img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }

  @keyframes marquee {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-100%);
      }
  }



  &__container {}

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 104px;
    padding-top: 120px;
  }

  &__article {}

  &__img {
    position: relative;
    width: 304px;
    height: 352px;
    &--first {}
    &--second {}
    &--third {}
    &--fourth {}
    &--fifth {}

    &-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      mask-size: 100%;
      mask-position: center;
      mask-repeat: no-repeat;

      &--first {
        mask-image: url('/image/first-article-mask-1.svg');
      }

      &--second {
        object-position: -50px 0px;
        mask-image: url('/image/second-article-mask-1.svg');
      }

      &--third {
        mask-image: url('/image/third-article-mask-1.svg');
      }

      &--fourth {
        mask-image: url('/image/fourth-article-mask-1.svg');
      }

      &--fifth {
        object-position: left;
        mask-image: url('/image/fifth-article-mask-1.svg');
      }
    }

    &-sticker {
      position: absolute;
      width: 120px;
      height: 120px;
      rotate: 0deg;
      transition: rotate 1s ease-in-out;

      &:hover {
        rotate: 360deg;
      }

      &--first {
        top: 8px;
        left: 8px;
      }

      &--second {
        top: 8px;
        right: 8px;
      }

      &--third {
        top: 8px;
        left: 8px;
      }

      &--fourth {
        width: 160px;
        height: 99px;
        top: 8px;
        right: 8px;
      }

      &--fifth {
        top: 8px;
        left: 8px;
      }
    }
  }

  &__info {
    font-family: 'Nunito', sans-serif;
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 18px;

    &--first {
      color: #22C98B;
    }

    &--second,
    &--third {
      color: #DA3369;
    }

    &--fourth {
      color: #EF9700;
    }

    &--fifth {
      color: #57ACBC;
    }

  }

  &__tag {
    margin: 0;

    &--active {
      height: 21px;
      margin-right: 6px;
      padding: 8px 18px;
      border-radius: 20px;
      color: #1B1F21;
      font-size: 15px;
      line-height: 140%;
    }
    &--active-first {
      width: 53px;
      background: #90EECB;
    }

    &--active-second,
    &--active-third {
      width: 48px;
      background: #EC95B1;
    }

    &--active-fourth {
      width: 69px;
      background: #FFAD20;
    }

    &--active-fifth {
      width: 62px;
      height: 21px;
      background: #ACD6DE;
    }

    &--first {}
  }

  &__title {
    width: 290px;
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    padding-top: 16px;
  }

  &__text {
    font-size: 18px;
    color: #757778;
    padding-top: 16px;
  }

  &__date-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-top: 16px;
  }
  &__date,
  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 21px;
    gap: 8px;
    color: #757778;
    font-size: 15px;
  }
  &__date::before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('/image/date-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__time::before {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('/image/time-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__date-text,
  &__time-text {
    margin: 0;
  }
}

.webinars-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 154px;
  padding-bottom: 90px;
  font-family: 'Nunito', sans-serif;
  background-color: #1B1F21;

  &__running-line {
    width: 100vw;
    height: 90px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #FFAD20;
    transform: skewY(-4deg);

    &--first {
      position: absolute;
      top: -115px;
      margin-top: 40px;
    }

    &--second {
      position: absolute;
      bottom: -20px;
      margin-top: 40px;
    }

    &-container {
      display: flex;
      align-items: center;
      animation: marquee 40s linear infinite;

      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      font-size: 30px;
      font-family: 'Archivo', sans-serif;
      margin-right: 12px;
    }
    &-img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &--second {
      background-color: #FE6D44;
      transform: skewY(4deg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #FCFAF9;
  }

  &__title {
    font-size: 28px;
    padding: 40px 0;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0px 8px;
  }

  &__card {
    padding: 24px;
    border-radius: 32px;
    background-image: url('/image/card-bg-1.svg');
    background-repeat: no-repeat;
    background-position: right top;

    &-header {
      display: flex;
      flex-direction: row;
      width: 256px;
      gap: 20px;
    }

    &-img {
      width: 64px;
      height: 64px;
      object-fit: cover;
      mask-size: 100%;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-image: url('/image/avatar-mask.svg');

      &--third {
        background-image: url('/image/third-card-avatar.png');
        background-size: 200%;
        background-position: 55% 10%;
        background-repeat: no-repeat;
      }
    }

    &-author {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-name {
      width: 172px;
      margin: 0;
      font-family: 'Archivo', sans-serif;
      font-size: 22px;
      line-height: 120%;
      padding-top: 6px;
    }

    &-title {
      width: 172px;
      margin: 0;
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-info {}

    &-text {
      width: 250px;
      height: 116px;
      font-family: 'Archivo', sans-serif;
      font-size: 24px;
      margin: 0;
      padding: 16px 0 32px 0;
    }

    &-footer {

      &-titles {
        display: flex;
        flex-direction: row;
        gap: 26px;
      }

      &-title {}

      &-dateandtime {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        padding-top: 12px;
      }

      &-date,
      &-time {
        display: flex;
        flex-direction: row;
        line-height: 140%;
      }

      &-date::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-image: url('/image/date-icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &-time::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background-image: url('/image/time-icon.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      &-date-text,
      &-time-text {
        margin: 0;
        font-size: 15px;
      }
    }

    &--first {
      background-color: #57ACBC;
    }
    &--second {
      background-color: #FE6D44;
    }
    &--third {
      background-color: #EF9700;
    }
  }

  &__button {

    padding: 64px 0 74px 0;
    margin: 0 auto;

    &-btn {
      font-size: 18px;
      line-height: 160%;
      padding: 17px 74px;
      border-radius: 40px;
      background-color: #9853F4;
      color: #FCFAF9;
      border: none;
      border: 1.5px solid transparent;

      &:hover:enabled {
        background-color: #DA3369;
        color: #FCFAF9;
        cursor: pointer;
      }

      &:active:enabled {
          background-color: #DA3369;
          color: #FCFAF9;
      }

      &:not(:enabled) {
          opacity: 60%;
          cursor: not-allowed;
          color: inherit;
      }

      &:focus:enabled {
        background-color: #9853F4;
        border: 1.5px solid #FFFFFF;
      }

      @media (hover: none) {
          &:active {
              background-color: #DA3369;
          }
      }
    }
  }
}

.subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  background-color: #F2F2F2;

  &__container {
    position: relative;
    width: 304px;
    height: 1102px;
    padding: 0 24px;
    margin: 0 auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    background-image: url('/image/mob-sub-bg.svg');
    background-repeat: no-repeat;
    color: #FCFAF9;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;

    &::before {
      content: '';
      position: absolute;
      width: 304px;
      height: 400px;
      top: 701px;
      left: 152px;
      transform: translateX(-50%);
      background-image: url('/image/mob-sub-img.svg');
      background-repeat: no-repeat;
      z-index: 11;
    }
  }

  &__content {}

  &__title {
    width: 256px;
    padding-top: 65px;
    margin: 0;
    font-size: 26px;
    line-height: 120%;
    font-family: 'Archivo', sans-serif;
  }

  &__description {
    width: 256px;
    padding-top: 8px;
    margin: 0;
    line-height: 160%;
  }

  &__form {
    width: 256px;
    padding-top: 80px;

    &-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 8px;

      &::after {
        content: '';
        position: absolute;
        top: 25px;
        left: 210px;
        transform: translateY(-50%);
        width: 29px;
        height: 29px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:has(input:invalid)::after {
          background-image: url('/image/error-sub-icon.svg');
      }

      &:has(input:valid)::after {
          background-image: url('/image/correct-sub-icon.svg');
      }
    }

    &-checkbox-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding-bottom: 80px;
    }

    &-checkbox {
      width: 23px;
      height: 23px;
      border-radius: 4px;
      border: 1.5px solid #FCFAF9;
      appearance: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;

      &:checked {
        background-color: #FCFAF9;
        border-color: #FCFAF9;
      }

      &:checked::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 7px;
        width: 6px;
        height: 12px;
        border: solid #FE6D44;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &-label {
      width: 216px;
      font-size: 13px;
      line-height: 140%;
    }

    &-span {}
  }

  &__success {
    position: relative;
    display: none;
    margin-top: 80px;
    padding: 28px 64px 28px 16px;
    background-color: #FCFAF9;
    border-radius: 24px;

    &::before {
      content: '';
      position: absolute;
      top: -32px;
      right: -16px;
      width: 104px;
      height: 104px;
      background-image: url('/image/sub-sticker.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-text {
      width: 170px;
      margin: 0;
      font-size: 18px;
      line-height: 160%;
      letter-spacing: 0.3px;
      color: #57ACBC;
    }
  }

  &__input {
    line-height: 160%;
    padding: 10px 24px;
    border-radius: 88px;
    border: 1.5px solid #FCFAF9;
    background-color: transparent;
    color: #FCFAF9;

    &::placeholder {
      color: #E8E8E8;
      opacity: 1;
    }

    &:focus {
      border: 2px solid #1B1F21;
      outline: none;
    }

    &:invalid {
      border: 2px solid #FFAD20;
      background-color: transparent;
    }

    &:valid {
      border: 2px solid #BEDB39;
      background-color: transparent;
    }
  }

  &__button {
    line-height: 160%;
    padding: 10px 101.5px;
    border-radius: 40px;
    color: #FCFAF9;
    background-color: #FE6D44;
    border: none;

    &:hover:enabled {
      background-color: #1B1F21;
      color: #FCFAF9;
      cursor: pointer;
    }

    &:active:enabled {
        background-color: #1B1F21;
        color: #FCFAF9;
    }

    &:not(:enabled) {
        opacity: 60%;
        cursor: not-allowed;
        color: inherit;
    }

    &:focus:enabled {
      border: 1.5px solid #1B1F21;
    }

    @media (hover: none) {
        &:active {
            background-color: #1B1F21;
        }
    }

  }

  &__running-line {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #DA3369;

    &-container {
      display: flex;
      align-items: center;
      animation: marquee 40s linear infinite;

      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
    &-content {
      display: flex;
      align-items: center;
      font-size: 30px;
      font-family: 'Archivo', sans-serif;
      margin-right: 12px;
      color: #F2F2F2;
      line-height: 120%;
    }
    &-img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      fill: #F2F2F2;
    }
  }

}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #1B1F21;
  font-family: "Nunito", sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    width: 304px;
    padding: 32px 0 48px 0;
    margin: 0 auto;
  }

  &__header {}

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 67px;
    &-img {}
  }

  &__social {
    display: flex;
    flex-direction: row;
    gap: 37px;
    height: 48px;
    padding-top: 40px;
    &-img {}
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 64px 0;

    &-container {}

    &-checkbox {
      position: absolute;
      width: 0;
      height: 0;
      appearance: none;
      cursor: pointer;

      &:checked ~ .footer__menu-list {
        display: flex;
      }
    }

    &-open {
      display: flex;
    }

    &-close {
      display: none;
    }

    &-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      margin: 0;
      list-style: none;
      color: #757778;
      font-size: 18px;
      line-height: 160%;
      text-transform: uppercase;
    }

    &-list {
      display: none;
      flex-direction: column;
      gap: 16px;
      padding: 0;
      margin-top: 25px;
    }

    &-item {
      color: #FCFAF9;
      font-size: 15px;
      line-height: 140%;
      list-style-type: none;
    }
  }

  &__contact {

    &-title {
      margin: 0;
      font-size: 13px;
      line-height: 160%;
      color: #AEAEAE;
      text-transform: uppercase;
    }

    &-text {
      margin: 0;
      font-size: 18px;
      line-height: 160%;
      color: #FCFAF9;
    }
  }

  &__privacy {

    &-text {
      margin: 0;
      font-size: 13px;
      line-height: 160%;
      color: #AEAEAE;
    }
  }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 64px 0;

      &-input {
        width: 304px;
        line-height: 160%;
        padding: 10px 24px;
        border-radius: 88px;
        border: 1.5px solid #FCFAF9;
        background-color: transparent;
        color: #FCFAF9;
        box-sizing: border-box;

        &::placeholder {
          color: #E8E8E8;
          opacity: 1;
        }

        &:focus {
          outline: none;
        }
      }

      &-button {
        width: 304px;
        line-height: 160%;
        padding: 10px 64px;
        border-radius: 40px;
        color: #FCFAF9;
        background-color: #9853F4;
        border: none;
        box-sizing: border-box;

        &:hover:enabled {
          background-color: #DA3369;
          color: #FCFAF9;
          cursor: pointer;
        }

        &:active:enabled {
            background-color: #1B1F21;
            color: #FCFAF9;
        }

        &:not(:enabled) {
            opacity: 60%;
            cursor: not-allowed;
            color: inherit;
        }

        &:focus:enabled {
          border: 1.5px solid #FCFAF9;
        }

        @media (hover: none) {
            &:active {
                background-color: #1B1F21;
            }
        }
    }
  }
}

@media (min-width: 768px) {
    .header {
        max-width: 768px;
        max-height: 133px;
        padding-top: 16px;
        justify-content: center;

        &__right-menu {
          padding-bottom: 24px;
      }

        &__logo {
            padding: 0 465px 24px 0;
        }

        &__nav {
            width: 704px;
            justify-content: space-between;

            &-item {
                padding: 8px 18px;
            }
        }
    }

    .gaming-section {
        width: 768px;
        justify-content: center;

        &__img {
            position: relative;
            width: 704px;
            height: 320px;
          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mask-image: url('/image/mask-gaming-2.svg');
            mask-size: 100%;
            mask-position: center;
            mask-repeat: no-repeat;
          }

          &-img-sticker {
            width: 120px;
            height: 120px;
          }
        }

        &__info {
            display: flex;
            width: 704px;
            justify-content: center;
            flex-wrap: wrap;

          &-tags {
            order: 1;
            display: flex;
            flex-wrap: wrap;
            width: 172px;
            max-height: 63px;
            font-size: 15px;
            padding-bottom: 24px;
          }

          &-tag {
            order: 2;
          }

          &-tag--active {
            order: 1;
            margin-left: 83px;
            margin-right: 0;
          }

          &-title{
            order: 2;
            width: 461px;
            padding-left: 24px;
          }

          &-text{
            order: 4;
            width: 461px;
            line-height: 120%;
            padding: 8px 0 0 24px;
          }

          &-dateandtime {
            order: 3;
            display: flex;
            flex-direction: column;
            width: 172px;
            padding-top: 0px;
            gap: 8px;
          }

          &-date,
          &-time {
            margin-left: auto;
          }

          &-date::before,
          &-time::before {
            display: none;
          }

          &-date::after {
            content: '';
            width: 15px;
            height: 15px;
            background-image: url('/image/date-icon.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          &-time::after {
            content: '';
            width: 15px;
            height: 15px;
            background-image: url('/image/time-icon.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

        }

        &__button {
          &-btn {
            width: 222px;
            height: 49px;
          }
        }

    }

    .articles-section {
      width: 100%;
      max-width: 768px;
      padding-bottom: 254px;

      &__articles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        padding-top: 160px;
      }

      &__article {
        width: 340px;

        &--third {
          width: 704px;
        }
      }

      &__img {
        width: 340px;
        height: 224px;

        &--first, &--second, &--fourth, &--fifth {
          width: 340px;
          height: 224px;
        }

        &--third {
          width: 704px;
          height: 320px;
        }

        &-picture {

          &--first {
            mask-image: url('/image/first-article-mask-2.svg');
          }

          &--second {
            object-position: 0px 0px;
            mask-image: url('/image/second-article-mask-2.svg');
          }

          &--third {
            mask-image: url('/image/third-article-mask-2.svg');
          }

          &--fourth {
            mask-image: url('/image/fourth-article-mask-2.svg');
          }

          &--fifth {
            object-position: left;
            mask-image: url('/image/fifth-article-mask-2.svg');
          }
        }

        &-sticker {
          width: 104px;
          height: 104px;

          &--first {
            top: 8px;
            left: 228px;
          }

          &--second {
            top: 8px;
            right: 8px;
          }

          &--third {
            width: 120px;
            height: 120px;
            top: 8px;
            left: 575px;
          }

          &--fourth {
            width: 144px;
            height: 89px;
            top: 8px;
            right: 8px;
          }

          &--fifth {
            top: 8px;
            left: 228px;
          }
        }
      }

      &__tags {
        padding-top: 24px;
      }

      &__text {
        padding-top: 14px;
      }
    }
    .articles-section__info--third {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 704px;
    }
    .articles-section__tags--third {
      order: 1;
      display: flex;
      flex-wrap: wrap;
      width: 182px;
      margin-left: 37px;
    }
    .articles-section__tag--active-third {
      order: 1;
      margin-left: 98px;
      margin-right: 0;
    }
    .articles-section__tag--third {
      order: 2;
    }
    .articles-section__title--third {
      order: 2;
      width: 461px;
      padding-left: 24px;
    }
    .articles-section__date-time--third {
      order: 3;
      display: flex;
      flex-direction: column;
      width: 172px;
      gap: 8px;
      margin-left: auto;
    }
    .articles-section__text--third {
      order: 4;
      width: 461px;
      line-height: 120%;
      padding: 8px 0 0 24px;
    }
    .articles-section__date--third,
    .articles-section__time--third {
      margin-left: auto;
    }
    .articles-section__date--third::before,
    .articles-section__time--third::before {
    display: none;
    }

    .articles-section__date--third::after {
      content: '';
      width: 15px;
      height: 15px;
      background-image: url('/image/date-icon.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .articles-section__time--third::after {
      content: '';
      width: 15px;
      height: 15px;
      background-image: url('/image/time-icon.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .webinars-section {
      padding-bottom: 0;
      margin-top: 0;

      &__running-line {
        &--first {
          top: -90px;
          margin-bottom: 55px;
        }

        &--second {
          bottom: -50px;
          margin-top: 55px;
        }
      }

      &__content {
        flex-direction: row;
        flex-wrap: wrap;
        width: 704px;
        padding-top: 106px;
        padding-bottom: 113px;
      }

      &__title {
        order: 1;
        height: 34px;
        padding: 0 137px 0 0;
        margin: auto 0;
      }

      &__cards {
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        margin: 64px 0 0 0;
      }

      &__card {
        width: 340px;
        box-sizing: border-box;

        &-header {
          width: 292px;
        }

        &-name {
          width: 208px;
          margin: 0;
          font-size: 26px;
        }

        &-title {
          width: 182px;
          margin: 0;
        }

        &-text {
          width: 292px;
        }

        &--third {
          width: 704px;
          box-sizing: border-box;

          .webinars-section__card-header,
          .webinars-section__card-text {
            width: 656px;
          }
          .webinars-section__card-text {
            height: 58px;
            padding: 16px 0 32px 0;
          }

          .webinars-section__card-name,
          .webinars-section__card-title {
            width: 572px;
          }
        }
      }

      &__button {
        order: 1;
        padding: 0;
        margin: 0;

        &-btn {
          padding: 17px 62px;
          border-radius: 40px;
        }
      }
    }

    .subscribe-section {
      width: 100vw;
      margin: 0 auto;
      background-color: #F2F2F2;

      &__container {
        position: relative;
        width: 520px;
        height: 498px;
        padding: 40px 24px;
        margin: 160px 185px 109px 0;
        background-color: #57ACBC;
        border-radius: 37.5px;

        &::before {
          width: 288px;
          height: 498px;
          top: 0px;
          left: 561px;
          background-image: url('/image/tab-sub-img.svg');
        }
      }

      &__title {
        width: 368px;
        padding-top: 0px;
      }

      &__description {
        width: 368px;
      }

      &__form {
        width: 368px;
        padding-top: 64px;

        &-container {
          gap: 16px;
          padding-bottom: 16px;

          &::after {
            left: 235px;
          }
        }

        &-checkbox-container {
          width: 100%;
          gap: 16px;
          padding-bottom: 0px;
        }

        &-label {
          width: 328px;
        }
      }

      &__success {
        width: 280px;
        box-sizing: border-box;
        margin-top: 116px;
        padding: 28px 24px;

        &::before {
          right: -24px;
        }
      }

      &__input {
        width: 230px;
      }

      &__button {
        width: 280px;
        padding: 10px 113.5px;
      }

      &__running-line {

        &-content {
          font-size: 44px;
        }
      }

    }

    .footer {

      &__container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 704px;
        padding: 64px 0 72px 0;
        margin: 0 auto;
      }

      &__header {
        width: 285px;
        padding: 0 139px 48px 0;
      }

      &__logo {
        order: 1;
        gap: 48px;
        &-img {}
      }

      &__social {
        order: 3;
        width: 200px;
        gap: 24px;
        height: 32px;
        padding-top: 0px;
        &-img {
          width: 32px;
          height: 32px;
        }
      }

      &__menu {
        order: 4;
        flex-direction: row;
        gap: 69.33px;
        padding: 88px 0 73px 0;

        &-container {

          &:nth-child(1) {
            width: 120px;
          }
          &:nth-child(2) {
            width: 104px;
          }
          &:nth-child(3) {
            width: 152px;
          }
          &:nth-child(4) {
            width: 120px;
          }
        }

        &-checkbox {
          display: none;
        }

        &-open {
          display: none;
        }

        &-close {
          display: none;
        }

        &-title {
        }

        &-list {
          display: flex;
          gap: 10px;
          padding: 0;
          margin-top: 33px;
        }

      }

      &__contact {
        order: 5;
        display: flex;
        flex-direction: row;
        width: 569px;
        gap: 40px;
        padding-bottom: 24px;

        &-container {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
      }

      &__privacy {
        order: 6;
        display: flex;
        flex-direction: row;
        padding-top: 24px;
        border-top: 1px solid #434343;

        :nth-child(2) {
          &::after {
            content: '•';
            margin-left: 8px;
            margin-right: 8px;
          }
          &::before {
            content: '•';
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }

      &__form {
        order: 2;
        width: 280px;
        gap: 16px;
        padding: 0;

        &-input {
          width: 280px;
        }

        &-button {
          width: 280px;
        }
      }
    }
}

@media (min-width: 1280px) {
    .header {
        max-width: 1440px;
        max-height: 72px;
        justify-content: space-between;
        padding: 16px 116px;

        &__logo {
            order: 1;
            padding: 0;
        }

        &__right-menu{
            order: 3;
            padding-bottom: 0px;
        }

        &__nav {
            order: 2;
            padding: 0;
            &-item:nth-child(6) {
                display: block;
            }
        }
    }
    .gaming-section {
        width: 1208px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__img {
            position: relative;
            width: 480px;
            height: 560px;
            margin-right: 40px;
          &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            mask-image: url('/image/mask-gaming-3.svg');
            mask-size: 100%;
            mask-position: center;
            mask-repeat: no-repeat;
          }

          &-img-sticker {
            width: 180px;
            height: 180px;
          }
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 688px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            width: 688px;

          &-tags {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 227px;
            max-height: 63px;
            font-size: 15px;
            padding: 0px;
          }

          &-tag {}

          &-tag--active {
            margin: 0;
          }

          &-title{
            width: 420px;
            padding: 18px 0 0 0;
          }

          &-text{
            width: 440px;
            text-align: left;
            line-height: 160%;
            padding: 16px 0 0 0;
          }

          &-dateandtime {
            order: 4;
            display: flex;
            flex-direction: row;
            width: 227px;
            padding-top: 16px;
            gap: 8px;
          }

          &-date,
          &-time {
            margin: 0;
          }

          &-date::after,
          &-time::after {
            display: none;
          }
          &-date::before,
          &-time::before {
            display: flex;
          }

        }

        &__button {
            width: 232px;
            margin: 0;
            margin-top: 56px;

          &-btn {
            width: 222px;
          }
        }

    }
    .articles-section {
      width: 100%;
      max-width: 1280px;

      &__articles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding-top: 160px;
      }

      .articles-section__running-line {
        max-width: 99.1vw;
      }

      &__article {
        width: 584px;

        &--third {
          width: 1208px;
          padding: 83px 0;
        }
      }

      &__img {
        max-width: 1208px;
        max-height: 520px;

        &--first, &--second, &--fourth, &--fifth {
          width: 584px;
          height: 328px;
        }

        &--third {
          width: 100%;
          height: 100%;
        }

        &-picture {

          &--first {
            mask-image: url('/image/first-article-mask-3.svg');
          }

          &--second {
            object-position: 0px 0px;
            mask-image: url('/image/second-article-mask-3.svg');
          }

          &--third {
            mask-image: url('/image/third-article-mask-3.svg');
          }

          &--fourth {
            mask-image: url('/image/fourth-article-mask-3.svg');
          }

          &--fifth {
            object-position: left;
            mask-image: url('/image/fifth-article-mask-3.svg');
          }
        }

        &-sticker {
          width: 180px;
          height: 180px;

          &--first {
            top: -45px;
            left: -50px;
          }

          &--second {
            top: -50px;
            right: -50px;
          }

          &--third {
            top: -30px;
            left: 1070px;
          }

          &--fourth {
            width: 240px;
            height: 148px;
            top: -40px;
            right: 385px;
            transform: rotate(-18deg);
          }

          &--fifth {
            top: -50px;
            left: 444px;
          }
        }
      }

      &__tags {
        padding-top: 24px;
      }

      &__title {
        width: 100%;
        font-size: 30px;
      }

      &__text {
        width: 480px;
        padding-top: 14px;
        font-size: 18px;
      }
    }
    .articles-section__info--third {
      width: 1208px;
    }
    .articles-section__tags--third {
      width: 182px;
      margin-left: 200px;
    }
    .articles-section__tag--active-third {
      margin-left: 98px;
      margin-right: 0;
    }
    .articles-section__title--third {
      width: 600px;
      padding-left: 16px;
      margin-right: 210px;
    }
    .articles-section__date-time--third {
      width: 172px;
      gap: 8px;
      margin-left: auto;
    }
    .articles-section__text--third {
      width: 688px;
      line-height: 120%;
      padding: 8px 0 0 16px;
      margin-right: 121px;
    }

    .webinars-section {
      &__running-line {
        width: 100%;
        &--first {
          top: -56px;
          max-height: 120px;
          margin: 0;
          transform: skewY(-2deg);
        }

        &--second {
          bottom: -55px;
          max-height: 120px;
          margin: 0;
          transform: skewY(2deg);
        }
      }

      &__content {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1208px;
        padding-top: 100px;
        padding-bottom: 113px;
      }

      &__title {
        order: 1;
        height: 55px;
        padding: 0 455px 0 0;
        margin: auto 0;
        font-size: 46px;
        line-height: 120%;
      }

      &__cards {
        order: 3;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 64px 0 0 0;
      }

      &__card {
        width: 376px;
        height: 432px;
        padding: 32px;
        box-sizing: border-box;

        &-header {
          width: 292px;
          height: 93px;
        }

        &-name {
          width: 208px;
          margin: 0;
          font-size: 26px;
        }

        &-title {
          width: 182px;
          margin: 0;
        }

        &-text {
          width: 312px;
          height: 144px;
          font-size: 30px;
          padding-top: 16px;
          padding-bottom: 40px;
        }

        &-footer {
        }

        &--third {

          .webinars-section__card-header,
          .webinars-section__card-text {
            width: 292px;
          }
          .webinars-section__card-text {
            height: 144px;
            padding: 16px 0 60px 0;
          }

          .webinars-section__card-name,
          .webinars-section__card-title {
            width: 208px;
          }
        }
      }

      &__button {
        order: 1;
        padding: 0;
        margin: 0;

        &-btn {
        }
      }
    }

    .subscribe-section {
      margin-top: 190px;

      &__container {
        position: relative;
        width: 1208px;
        height: 517px;
        padding: 64px 104px;
        margin: 0 auto;
        margin-bottom: 135px;
        mask-image: url('/image/sub-mask.svg');

        &::before {
          width: 416px;
          height: 517px;
          top: 0px;
          left: 1000px;
          background-image: url('/image/des-sub-img.svg');
        }
      }

      &__title {
        width: 624px;
        padding-top: 0px;
        font-size: 36px;
      }

      &__description {
        width: 624px;
      }

      &__form {
        width: 624px;
        padding-top: 88px;

        &-container {
          display: flex;
          flex-direction: row;
        }

        &-checkbox-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 16px;
          padding-bottom: 0px;
        }

        &-label {
          width: 536px;
          font-size: 15px;
          line-height: 140%;
        }
      }

      &__success {
        width: 576px;
        box-sizing: border-box;
        margin-top: 146px;
        padding: 10px 24px;

        &::before {
          width: 120px;
          height: 120px;
          top: -60px;
          right: 65px;
        }

        &-text {
          width: 100%;
        }
      }

      &__input {
        width: 230px;
        padding: 8px 24px;
      }

      &__button {
        width: 280px;
        padding: 10px 113.5px;
      }


      &__running-line {
        height: 120px;

        &-content {
          font-size: 58px;
        }
      }

    }

    .footer {

      &__container {
        position: relative;
        width: 1208px;
      }

      &__header {
        width: 352px;
        padding: 0;
      }

      &__logo {
        order: 1;
        &-img {
          width: 224px;
          height: 82px;
        }
        &-holon {
          width: 82px;
          height: 82px;
          object-fit: cover;
        }
      }

      &__social {
        order: 5;
        width: 200px;
        gap: 24px;
        height: 32px;
        padding: 136px 0 0 439px;
        &-img {
          width: 32px;
          height: 32px;
        }
      }

      &__menu {
        order: 2;
        padding: 0 0 0 152px;

        &-list {
          gap: 10px;
          margin-top: 33px;
        }
      }

      &__contact {
        order: 4;
        display: flex;
        flex-direction: row;
        width: 569px;
        gap: 40px;
        padding-bottom: 31px;
        padding-top: 121px;

        &-container {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        &-title {
          margin: 0;
          font-size: 13px;
          line-height: 160%;
          color: #AEAEAE;
          text-transform: uppercase;
        }

        &-text {
          margin: 0;
          font-size: 18px;
          line-height: 160%;
          color: #FCFAF9;
        }
      }

      &__privacy {
        order: 6;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 33px;
        border-top: 1px solid #434343;

        :nth-child(2) {
          &::after {
            content: '•';
            margin-left: 8px;
            margin-right: 8px;
          }
          &::before {
            content: '•';
            margin-left: 8px;
            margin-right: 8px;
          }
        }
        &-text {
          margin: 0;
          font-size: 13px;
          line-height: 160%;
          color: #AEAEAE;
        }
      }

      &__form {
        order: 2;
        position: absolute;
        width: 280px;
        top: 226px;
        left: 0;

        &-input {
          width: 280px;
        }

        &-button {
          width: 280px;
        }
      }
    }
}

@media (min-width: 1900px) {
  .webinars-section {
    &__running-line {
      width: 100%;
      &--first {
        top: -55px;
        max-height: 120px;
        margin: 0;
        transform: skewY(-1deg);
      }

      &--second {
        bottom: -55px;
        max-height: 120px;
        margin: 0;
        transform: skewY(1deg);
      }
    }
  }
}